<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>

    <body>
        <h1 style="text-align:center;">EDE Data File Validation </h1>
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data" id = "fileForm">
            {% csrf_token %}
            
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p>Note:make sure the file selected doesn't have bracket in name</p>
            <select name="fileFormatSelection" form = "fileForm">
                <option value="M_V_1">Margin File V 1.0</option>
                <option value="M_V_3">Margin File V 3.0</option>
            </select>

            <p><input type="submit" value="Validate"/></p>
        </form>
        <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}


    </body>

</html>
